<!DOCTYPE html>

{% extends "base.html" %}

<html>
{% block head_content %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="signup">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input name="username" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="User Name">
            </div>
            <div class="form-group">
                <input name="password1" type="password" class="form-control" id="exampleInputPassword1"
                       placeholder="Password">
            </div>


            <div id="br"></div>
            <br>

            <button type="submit" class="btn btn-primary">Submit</button>
                {% if form.non_field_errors %}
                    <div class="non-field-errors">
                        {% for err in form.non_field_errors %}
                            <p class="form-error">{{ err }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

        </form>


    </div>
{% endblock %}

</html>