<!DOCTYPE html>

{% extends "base.html" %}

<html>
{% block head_content %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="login">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input name="username" type="text" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp" placeholder="User Name">
                <small style="color: red;">{{ form.username.errors }}</small>
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" id="exampleInputPassword1"
                       placeholder="Password">
                <small style="color: red;">{{ form.password1.errors }}</small>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

            {% if form.non_field_errors %}
                <div style="width: 300px" class="non-field-errors">
                    {% for err in form.non_field_errors %}
                        <p style="color: red; font-size: 10px" class="form-error">{{ err }}</p>
                    {% endfor %}
                </div>
            {% endif %}

        </form>


    </div>
{% endblock %}

</html>